body{
	max-width: 1000px;
	padding: 0px;
	margin: auto;
	font-family: Verdana;
	background-color:#010101;
}
img{
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 50px;
	max-width: 1000px;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.btext h2{
	padding: 0;
	margin: 0 auto;
	color: #D91B5C;
	font-size: 3vw;
}

.btext p{
	color: #9D0740;
	font-size: 1vw;
}

.btext{
	text-align: center;
}



